{% extends "admin/base_site.html" %}
{% block extrahead %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* :root {
            --primary: red;
        } */
        /* thead th {
            background: #79aec8 !important;
            color: white;
        }
        thead th a:link {
            background: #79aec8 !important;
            color: white;
        } */
    </style>

    <script>
        $(document).ready(function() {
            console.log("load here base-site")
            // $('body').on('copy', function(e) {
            //     e.preventDefault();
            //     alert("Hello! Cant not copy here.");
            // });
        });
    </script>
{% endblock %}