{% extends "admin/change_list.html" %}
{% block extrahead %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* :root {
            --primary: red;
        } */
        /* thead th {
            background: #79aec8 !important;
            color: white;
        }
        thead th a:link {
            background: #79aec8 !important;
            color: white;
        } */
    </style>


<div style="display: none;">

    {% if perms.Supplier.export_excel_1000_admin %}
           <label class="switch">
               <input type="checkbox" id="can-copy" name="can-copy" checked>
               <span class="slider round"></span>
           </label>
   {% else %}
           <label class="switch">
               <input type="checkbox" id="can-copy" name="can-copy">
               <span class="slider round"></span>
           </label>
    {% endif %}
   </div>


    <script>
        $(document).ready(function() {
            console.log("load here for change_list")
            $('body').on('copy', function(e) {
                var canCopy = document.getElementById('can-copy');
                if (canCopy && canCopy.checked) {

                } else {
                    e.preventDefault();
                    alert("Hello! Cant not copy here.");
                }

            });
        });
    </script>
{% endblock %}